{% for document in documents %}
    <blockquote>
        <h3 class="dashhead-title">
            {{ document.title|capitalize }}
            <a href="{{ asset(document.path) }}" target="_blank" class="btn btn-primary-outline pull-right"><i class="fa fa-download"></i> Télécharger <span class="label label-primary">{{ document.formatSize }}</span></a>
        </h3>
        <p>{{ document.description|raw }}</p>
        <footer>
            <span class="label label-primary">{{ document.category|capitalize }}</span> <cite title="Auteur">{{ document.user.fullname }}</cite>, le {{ document.updatedAt|date('d/m/Y') }}
        </footer>
    </blockquote>
{% endfor %}
